<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Date Submitted: <%= @email_contents[:date] %>
    <p>Email: <%= @email_contents[:email] %></p>
    <p>Subject: <%= @email_contents[:subject] %></p>
    <p>Message: <%= @email_contents[:message] %></p>
  </body>
</html>