div.contact-main-div {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('https://skylord-depot.s3.us-east-2.amazonaws.com/ContactUs/38A024F5-3CCE-42A2-A33E-69D3E8C93FE5_1_105_c.jpeg');
    width: 100%;
    background-position: 10% 20%;
    background-size: cover;
}