div.main-div-home {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('https://skylord-depot.s3.us-east-2.amazonaws.com/Home/golden-retreiver-usa-landscape.jpeg');
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;

    .title-content-div {
        height: 70%;
        width: 90%;
        margin-left: auto;
        margin-top: auto;
        display: flex;
        flex-direction: column;

        .logo {
            height: auto;
            width: 43%;
        }

        a {
            width: 43%;
            display: flex;
            justify-content: center;
            text-decoration: none;

            button {
                height: 6rem;
                width: 15rem;
                background-color: $primaryOrange;
                border: 1pt solid $accentLightOrange;
                font-family: 'Avenir-Medium';
                font-size: 1.25rem;
                border-radius: 12pt;
                box-shadow: 1pt 1pt $primaryOrange;
                transition: .35s ease-in;
           }

           button:hover {
                background-color: $accentLightGrayText;
                color: $primaryOrange;
                cursor: pointer;
                transition: .35s ease-out;
           }
        }
    }
}