div.order-payment-main-div {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $accentLightGray;

    .main-content-div {
        width: 70%;
        height: 100%;
        background-color: $accentLightOrange;
        padding: 3rem;
        margin: 3rem;
        border-radius: 12pt;

        .divider {
            width: 100%;
            height: 2px;
        }

        .order-payment-header-h3 {
            font-size: 2rem;
        }

        form {
            padding-top: 3rem;
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .form-div {
                display: flex;
                flex-direction: column;
                width: 100%;
                justify-content: center;

                p {
                    font-size: 1.25rem;
                }
            }

            .btn-div {
                padding-bottom: 2rem;
                display: flex;
                justify-content: space-between;

                .btn {
                    background-color: $primaryOrange;
                    color: #000;
                    width: 25%;
                    font-size: 1.25rem;
                    transition: 0.4s ease-in;
                    border: 1pt solid $accentLightGrayText;
                    height: 100px;
                }

                .btn:active, .btn:hover {
                    background-color: $accentLightGrayText;
                    transition: 0.4s ease-out;
                    border: 1pt solid $primaryOrange;
                    color: $primaryOrange;
                }
            }
        }
    }
}

/*
-Media Queries- 
*/ 

@media screen and (min-width: 650px) and (max-width: 768px) {
    div.order-payment-main-div {
        .main-content-div {
            width: 80%;

            form {
                .btn-div {
                    .btn {
                        width: 40%;
                        height: 80px;
                        font-size: 1rem;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 649px) {
    div.order-payment-main-div {
        .main-content-div {
            width: 90%;
            padding: 1rem;

            .order-payment-header-h3 {
                font-size: 1.5rem;
            }

            form {
                .form-div {
                    p {
                        font-size: 1rem;
                    }

                    .textfield-input {
                        label {
                            font-size: 0.8rem;
                        }
                    }
                }

                .btn-div {
                    .btn {
                        width: 40%;
                        height: 60px;
                        font-size: 0.8rem;
                    }
                }
            }
        }
    }
}