div.sign-in-main-div {
    width: 100%;
    background-color: $accentLightOrange;
    display: flex;
    flex-direction: column;
    align-items: center;

    .content-div {
        display: flex;
        height: 100%;
        padding: 5rem;
        width: 50%;

        form {
            background-color: $accentLightGray;
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            padding: 1rem;
            border-radius: 12pt;

            .logo-img {
                width: 40%;
                height: auto;
            }

            .textfield-input {
                width: 80%;


                label {
                    color: $accentLightGrayText;
                    font-family: 'Avenir-Medium';
                    font-weight: bold;
                }

                label:hover {
                    border-bottom: 2px solid $accentLightGrayText;
                }

                .MuiInput-underline:after {
                    border-bottom: 2px solid $accentLightGrayText;
                }
            }

            .btns-div {
                display: flex;
                justify-content: center;
                height: 20%;
                width: 100%;

                .sign-in-btn {
                    background-color: $primaryOrange;
                    color: #000;
                    margin: 1rem;
                    width: 40%;
                    font-size: 0.75rem;
                    transition: 0.4s ease-in;
                    border: 1pt solid $accentLightGrayText;
                    height: 60%;
                }

                a {
                    width: 40%;
                    height: 60%;
                    margin: 1rem;

                    .create-act-btn {
                        background-color: $accentLightGray;
                        color: #000;
                        width: 100%;
                        height: 100%;
                        font-size: 0.75rem;
                        transition: 0.4s ease-in;
                        border: 1pt solid $accentLightGrayText;
                    }
                }

                .sign-in-btn:hover, .create-act-btn:hover {
                    background-color: $accentLightGrayText;
                    transition: 0.4s ease-out;
                    border: 1pt solid $primaryOrange;
                }
            }
        }
    }
}