div.sign-in-main-div {
    width: 100%;
    background-color: $accentLightOrange;
    display: flex;
    flex-direction: column;
    align-items: center;

    .content-div {
        display: flex;
        height: 100%;
        padding: 5rem;
        width: 80%;
        align-items: center;

        form {
            background-color: $accentLightGray;
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            padding: 1rem;
            border-radius: 12pt;

            .logo-img {
                width: 40%;
                height: auto;
            }

            .textfield-input {
                width: 80%;


                label {
                    color: $accentLightGrayText;
                    font-family: 'Avenir-Medium';
                    font-weight: bold;
                }

                label:hover {
                    border-bottom: 2px solid $accentLightGrayText;
                }

                .MuiInput-underline:after {
                    border-bottom: 2px solid $accentLightGrayText;
                }
            }

            .btns-div {
                display: flex;
                justify-content: center;
                height: 20%;
                width: 100%;
                align-items: center;

                .sign-in-btn {
                    background-color: $primaryOrange;
                    color: #000;
                    margin: 1rem;
                    width: 16rem;
                    font-size: 0.75rem;
                    transition: 0.4s ease-in;
                    border: 1pt solid $accentLightGrayText;
                    height: 6rem;
                }

                a {
                    width: 16rem;
                    height: 6rem;
                    margin: 1rem;
                    text-decoration: none;

                    .create-act-btn {
                        background-color: $accentLightGray;
                        color: #000;
                        width: 100%;
                        height: 100%;
                        transition: 0.4s ease-in;
                        border: 1pt solid $accentLightGrayText;

                        span {
                            font-size: 0.75rem;
                        }
                    }
                }

                .sign-in-btn:hover, .create-act-btn:hover {
                    background-color: $accentLightGrayText;
                    transition: 0.4s ease-out;
                    border: 1pt solid $primaryOrange;
                }
            }
        }
    }
}

/*
-Media Queries-
*/

@media screen and (min-width: 650px) and (max-width: 768px) {
    div.sign-in-main-div {
        .content-div {
            padding: 3rem;
            width: 100%;

            form {
                .logo-img {
                    width: 50%;
                }

                .btns-div {
                    .sign-in-btn {
                        width: 10rem;
                        height: 4rem;
                    }

                    a {
                        width: 10rem;
                        height: 4rem;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 649px) {
    div.sign-in-main-div {
        .content-div {
            padding: 2rem;
            width: 100%;
            height: 60%;

            form {
                .logo-img {
                    width: 60%;
                }

                .textfield-input {
                    label {
                        font-size: .8rem;
                    }
                }

                .btns-div {
                    height: 30%;

                    .sign-in-btn {
                        font-size: 0.5rem;
                        width: 10rem;
                        height: 3rem;
                        margin: 0.5rem
                    }

                    a {
                        width: 10rem;
                        height: 3rem;
                        margin: 0.5rem;

                        .create-act-btn {          
                            span {
                                font-size: 0.5rem;
                            }
                        }
                    }
                }
            }
        }
    }
}