body, .App, #root {
    height: 100%;
    width:100%;
}

html {
    height: 100%;
    width: 100%;
    overflow: auto;
}

* {
    box-sizing: border-box;
    font-family: 'Avenir';
    padding: 0;
    margin: 0;
}

.spinner-div {
    display: flex;
    justify-content: center;
}

.main-page-content {
    margin-top: 80px;
    min-height: 100%;
}